<!DOCTYPE html>
<html lang="sv">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Husli</title>
    <meta name="description" content="">
    <meta name="author" content="Ann-Sofi Åhn">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="base">
        <header>
            <h1>Husli<h1>
        <button class="button-light u-pull-right" v-on:click="allOff()">Stäng av alla</button>
    </header>

    <div class="container">
      <i v-if="lights.length == 0" class="fa fa-spinner fa-pulse fa-5x" id="loader"></i>
    </div>

    <div class="container" id="lights">
      <div class="row" v-for="(light, index) in lights">
        <div class="two columns">
          <div v-if="light.on">
            <img src="/images/bulb_on.png">
          </div>
          <div v-else>
            <img src="/images/bulb_off.png">
          </div>
        </div>
        <div class="six columns">
          <div class="u-pull-left">
            <h4 class="light-name">{{ light.name }}</h4>
            <h5 class="light-type">{{ light.type }}</h5>
          </div>
        </div>
        <div class="three columns">
          <button class="button-primary light-toggle" v-on:click="toggle(index)">Toggle</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <h6>Light Bulb by Félix Péault from the Noun Project</h6>
  </footer>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="app.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
