header {
  background-color: #33C3F0;
  color: white;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1.5rem;
}

.light-name {
  margin-bottom: 0;
}

.light-toggle {
  margin-top: 1rem;
}

#loader {
  margin: 2rem;
  color: #33C3F0;
}
